<footer>
	<div class="container-fluid footer-link">
  	<div class="row-fluid">
    	<div class="span6">
      	<div class="row-fluid">
        	<div class="span4">
            <%= image_tag "footer-logo.png", {title: "Non Moving Items"} %>
          </div>
        	<div class="span4">
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Customer Service</a></li>
              <li><a href="#">Advertise With Us</a></li>
              <li><a href="#">Buyers Toolkit</a></li>
              <li><a href="#">Seller Toolkit</a></li>
            </ul>
          </div>
          <div class="span4">
            <ul>
              <li><a href="#">Technical Help</a></li>
              <li><a href="#">Privacy policy</a></li>
              <li><a href="#">Terms of use</a></li>
              <li><a href="#">Disclaimer policy</a></li>
              <li><a href="#">Site Map</a></li>
            </ul>
          </div>
        </div>
      </div>            	
    	<div class="span3">
        <h2 class="footer-heading">NewsLetter!</h2>
        <p>sign up for emails to receive email only promotions</p>
        <div class="footer-search">
        	<input type="text" placeholder="Enter Email" class="pull-left">
          <input type="button" value="Subscribe" title="Subscribe" class="pull-left">
          <span class="clr"></span>
        </div>
      </div>
      <div class="span3">
      	<h2 class="footer-heading">Connect With Us</h2>
        <a href="#" class="footer-icon footer-tw" title="Twitter">&nbsp;</a>
        <a href="#" class="footer-icon footer-fb" title="Facebook">&nbsp;</a>
        <a href="#" class="footer-icon footer-in" title="Linkedin">&nbsp;</a>
        <a href="#" class="footer-icon footer-yo" title="you Tube">&nbsp;</a>
        <a href="#" class="footer-icon footer-pi" title="Pinterest">&nbsp;</a>
        <span class="clr"></span>
      </div>                
    </div>
  </div>
  <div class="copy-right">&copy; Copyright 2015 Non Moving Items. All rights reserved.</div>
</footer>